.tableCheckout{
    width: 100%;
    padding: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
}
.tableCheckout thead{
    padding-bottom: 1rem;
    
}
.itensTable{
    text-align: center;
}

.itensTable td{
    width: 70px;
    border-bottom: 1px solid #848383;
    margin-bottom: 1rem;
}
.itensTable .imgTable {
width: 100px;
height: 100px;
margin-right: 10px;
}
.itensTable .imgTable img{
    width: 100%;
    height: 100%;
}
.itensTable .titleProduct{
    width: 150px;
}

.itensTable .actionsBtn button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}